
.about__container {
    width: 100%;
    max-width: $DESK;
    margin-right: auto;
    margin-left: auto;
}

.about__body {
    -moz-column-count: 2;
    column-count: 2;
    grid-column-gap: calc(var(--ms1)*2);
    -moz-column-gap: calc(var(--ms1)*2);
    column-gap: calc(var(--ms1)*2);
}

.about__title {
    margin-bottom: calc(var(--ms1)*4);
    max-width: calc(var(--ms1)*40);
}


.title {
    font-size: var(--ms8);
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0;
}

 
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}