div {
    display: block;
     
    
} 
.about__container {
    width: 100%;
    max-width: $DESK;
    
    
    
}
@media (min-width: 768px){
.about__body {
    column-count: 2;
    grid-column-gap: calc(var(--ms1)*2);
    -moz-column-gap: calc(var(--ms1)*2);
    column-gap: calc(var(--ms1)*2);
    line-height: 1.5; 
    font-size: var(--ms3);
      
}

}
.about__body {
    margin-bottom: calc(var(--ms1)*4);
      
   
}

.about__title {
    margin-bottom: calc(var(--ms1)*4);
    max-width: calc(var(--ms1)*42);
    
}


.title {
    font-weight: 400;
    line-height: 1.2; 
      
}

 h2 {
    display: block;
    font-size: 2.7em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.1em;
}

// Mapa
@media (min-width: 768px){
    .offices{
    padding-right: calc(var(--ms1)*2);
    padding-left: calc(var(--ms1)*2);
}
}
.offices {
    margin-top: 100px;
    padding-left: var(--ms1);
    padding-right: var(--ms1);
    margin-bottom: calc(var(--ms1)*6);
}

@media (min-width: 768px){
.offices a, p {
    line-height: 1.6; 
}
}
.offices p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.offices__body {
    text-align: center;
    margin-bottom: calc(var(16px)*2);
    font-size: 25.888px;
}
.carousel__container {
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background: #f0f3f7;
    overflow: hidden;
}
.carousel__title {
    margin-bottom: calc(var(--ms1)*4);
    max-width: calc(var(--ms1)*40);
}
.title{
    font-size: var(--ms6);
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0;
}


:root {
    --ms-3: 6px;
    --ms-2: 8px;
    --ms-1: 10px;
    --ms0: 12px;
    --ms1: 14px;
    --ms2: 16px;
    --ms3: 18px;
    --ms4: 22.652px;
    --ms5: 25.888px;
    --ms6: 29.124000000000002px;
    --ms7: 36.650936px;
    --ms8: 41.886784000000006px;
    --ms9: 47.12263200000001px;
    --ms10: 59.30121444800002px;
    --ms11: 67.77281651200002px;
    --ms12: 76.24441857600002px;
    --ms13: 95.94936497686402px;
    --ms14: 109.65641711641602px;
    --ms15: 123.36346925596803px;
    --ms16: 155.24607253256602px;
    --ms17: 177.42408289436116px;
    --ms18: 199.6020932561563px;
    --ms19: 251.18814535769178px;
    --ms20: 287.07216612307633px;
}