
//fotos
.carousel__container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #f0f3f7;
    overflow: hidden;
}
.carousel__title {
    margin-bottom: calc(var(--ms1)*4);
    max-width: calc(var(--ms1)*40);
}
.title{
    margin-left: 20px;
    margin-top: 20px;
    font-size: var(--ms6);
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    transition-property: transform;
    box-sizing: content-box;
}
.swiper-slide-swiper-slide-active {
    margin-top: 10%;
    margin-left: 70%;
    margin-right: 28px;
    flex-shrink: 8;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}


.card-trooper-social-proof__avatar{
    position: relative;
    z-index: 1;
    margin-bottom: 14px;;
    overflow: hidden;
    
}
.card-trooper-social-proof__wrapper {
    margin-top: 73%;
    margin-left: 10px;
    width: 375px;
    height: 100px;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 14px;   
}
.card-trooper-social-proof__wrapper:hover{
    background-image:repeating-linear-gradient(to top,#f04e23,transparent);
    opacity: 0.5;
   
}
.card-trooper-social-proof__name {
    font-size: 16px;;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 2px #353a40;
}

.card-trooper-social-proof__job-role, .card-trooper-social-proof__name {
    color: #fff;
    text-shadow: 1px 1px 2px var #353a40;
}
.card-trooper-social-proof__image {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 375px;
    height: 375px;
}
.image {
    border-radius: 5px;
    display: block;
    position: relative;
    z-index: 1;  
    width: 375px;
    height: 375px;
}
.image img {
    margin: 10px;
    width: 375px;
    height: 375px;
    border-radius: 5px ;
}

.card-trooper-social-proof__body{
    padding-left: 14px;
    padding-right: 14px;
}

:root {
    --ms-3: 6px;
    --ms-2: 8px;
    --ms-1: 10px;
    --ms0: 12px;
    --ms1: 14px;
    --ms2: 16px;
    --ms3: 18px;
    --ms4: 22.652px;
    --ms5: 25.888px;
    --ms6: 29.124000000000002px;
    --ms7: 36.650936px;
    --ms8: 41.886784000000006px;
    --ms9: 47.12263200000001px;
    --ms10: 59.30121444800002px;
    --ms11: 67.77281651200002px;
    --ms12: 76.24441857600002px;
    --ms13: 95.94936497686402px;
    --ms14: 109.65641711641602px;
    --ms15: 123.36346925596803px;
    --ms16: 155.24607253256602px;
    --ms17: 177.42408289436116px;
    --ms18: 199.6020932561563px;
    --ms19: 251.18814535769178px;
    --ms20: 287.07216612307633px;
}